{% extends "base.html" %}
{% block title %}Account{% endblock %}
{% block content %}
	<section id="account">
		<article>
			<header class="hcenter">
				Account Settings
			</header>
			<div class="container">
				<form action="{{url_for('account')}}" method="post">
					<div class="grid">
						<fieldset>
							<label for="highlight">
								{% if user.highlight == 'True' %}
									<input type="checkbox" id="highlight" name="highlight" role="switch" checked>
								{% else %}
									<input type="checkbox" id="highlight" name="highlight" role="switch">
								{% endif %}
								Show me on <span class="highlight">highlight</span>
							</label>
						</fieldset>
					</div>
					<button type="submit">Update Account</button>
				</form>
			</div>
		</article>
	</section>
{% endblock %}