{% extends "base.html" %}
{% block title %}Test{% endblock %}
{% block content %}
	<form action="#" method="post">
		<div class="container">
			<div id="examplecontainer" class="examplecontainer hcenter" style="padding-top: 100px; padding-bottom: 100px;">
				<a id="examplebtn" role="button" href="#"><i class="fa-brands fa-twitter"></i> Example Button</a>
			</div>
			
			<div class="grid">
				<article>
					<header>
						Button Settings
					</header>
					<div class="grid">
						<label for="buttonwidth">
							<span id="buttonwidthlabel">
								Button Width
							</span>
							<input type="range" min="10" max="100" value="20" id="buttonwidth" name="buttonwidth" oninput="updateBtnWidth(this.value)" onchange="updateBtnWidth(this.value)">
						</label>
						<label for="buttonradius">
							<span id="buttonradiuslabel">
								Button Radius
							</span>
							<input type="range" min="0" max="30" value="4" id="buttonradius" name="buttonradius" oninput="updateBtnRadius(this.value)" onchange="updateBtnRadius(this.value)">
						</label>
					</div>
					<div class="grid">
						<label for="buttonbackgroundcolor">Button Background Color
							<input type="color" id="buttonbackgroundcolor" name="buttonbackgroundcolor" value="#1095C1" oninput="updateBtnColor(this.value)" onchange="updateBtnColor(this.value)">
						</label>
						<label for="buttonbacktextcolor">Button Text Color
							<input type="color" id="buttonbacktextcolor" name="buttonbacktextcolor" value="#ffffff" oninput="updateBtnTextColor(this.value)" onchange="updateBtnTextColor(this.value)">
						</label>
					</div>
					<div class="grid">
						<label for="buttonbordercolor">Button Border Color
							<input type="color" id="buttonbordercolor" name="buttonbordercolor" value="#1095C1" oninput="updateBtnBorderColor(this.value)" onchange="updateBtnBorderColor(this.value)">
						</label>
						<label for="buttonbacktextcolor">Button Text Color
							<input type="color" id="buttonbacktextcolor" name="buttonbacktextcolor" value="#ffffff" oninput="updateBtnTextColor(this.value)" onchange="updateBtnTextColor(this.value)">
						</label>
					</div>
				</article>
				<article>
					<header>
						Page Settings
					</header>
					<div class="grid">
						<label for="backgroundcolor1">Background Color One
							<input type="color" id="backgroundcolor1" name="backgroundcolor1" value="#11191F" oninput="updateBackgroundColor()" onchange="updateBackgroundColor()">
						</label>
						<label for="backgroundcolor2">Background Color Two
							<input type="color" id="backgroundcolor2" name="backgroundcolor2" value="#11191F" oninput="updateBackgroundColor()" onchange="updateBackgroundColor()">
						</label>
						<label for="bgradius">
							<span id="bgradiuslabel">
								Background Radius 180
							</span>
							<input type="range" min="0" max="365" value="180" id="bgradius" name="bgradius" oninput="updateBackgroundColor()" onchange="updateBackgroundColor()">
						</label>
					</div>
				</article>
			</div>
			<button type="submit">Submit</button>
		</div>
	</form>
	<script type="text/javascript" src="../static/js/account.js"></script>
{% endblock %}